<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intellicon - AI and Machine Learning</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">

    {% block css %}
        
    {% endblock css %}
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
            </div>
            <nav>
                <ul>
                   
                    <li><a href="{% url 'face_recognition_app:face_recognition_app' %}">Face recognition</a></li>
                    <li><a href="{% url 'face_rating_app:face_rating' %}">Face Rating</a></li>
                    {% if request.user.is_authenticated %}
                    <li><a href="">{{request.user.username}}</a></li>

                    <li><a href="{% url 'account:signout'  %}">Signout</a></li>
                    {% else %}
                    <li><a href="{% url 'account:signin'  %}">Signin</a></li>
                    <br>
                    <br>
                    <li><a href="{% url 'account:signup'  %}">Signup</a></li>
                    {% endif %}
                </ul>
            </nav>
            <div class="sign-in">
              
              
            </div>
        </div>
    </header>
    <div id = "content_container">

    {% block content %}
        
    {% endblock content %}
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        
    
    {% block js %}
        
    {% endblock js %}
</body>
</html>
