{% extends "face_rating_app/base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/face_id.css' %}">
<link rel="stylesheet" href="{% static 'css/bground.css' %}">
{% endblock css %}
{% block content %}
<div class="get-picture-group">
    <div id="result-container">
        <div class="rating_section" id="rating_section">
            <div class="rating_item">
                <h2>Hàm: <h2 id="point_rating_jawline"></h2></h2>
                <p id="str_rating_jawline">Đánh giá về hình dạng và cấu trúc của hàm.</p>
            </div>
            <div class="rating_item">
                <h2>Mũi: <h2 id="point_rating_nose"></h2></h2>
                <p id="str_rating_nose">Đánh giá về kích thước và hình dáng của mũi.</p>
            </div>
            <div class="rating_item">
                <h2>Mắt: <h2 id="point_rating_eye"></h2></h2>
                <p id="str_rating_eye">Đánh giá về kích thước, hình dáng và độ cân đối của mắt.</p>
            </div>
            <div class="rating_item">
                <h2>Môi: <h2 id="point_rating_lip"></h2></h2>
                <p id="str_rating_lip">Đánh giá về kích thước và độ đầy đặn của môi.</p>
            </div>
            <div class="rating_item">
                <h2>Tổng thể khuôn mặt: </h2>
                <h5 id="result" style="color: black;"></h5>
            </div>
        </div>
        <img id="editedImage" src="" alt="Edited Image"  height="400px" width="300px" style="display: none;"/>

    </div>
    <div class="container-content">
        
        <div class="overlay">
            <h1>Am I Beautiful or Ugly?</h1>
            <p>Am I pretty ? Am I ugly ? <br>
            Why am I ugly ? or not pretty enough ?<br>
            Online test for face beauty analysis.<br>
            Analyze your face in 1 minutes.<br>
            Rate my face 1-10. How beautiful am I?<br>
            Are you pretty? Ask us with confidentiality.<br>
            Upload photo or use webcam.</p>
            <div class="test-options">
              <a href="{% url 'face_recognition_app:face_recognition_app' %}" class="test-btn">Face test</a>
              <button class="test-btn" id="face_rating_btn">Face Rating</button>  
            </div>
            <hr>
            <div class="action-buttons" style="display: none;">
                    <button id="take_photo"></button>
                    <button id="select_photo"></button>
                    <input type="file" id="select_picture" hidden>
            </div>

        </div>
    </div>
    
    <div id="video-container2" style="display: none;">
        <video src="" id="video-webcam" height="480" width="640" autoplay style="    position: absolute;
    border: 5px dashed rgba(0, 106, 255, 0.726);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    "></video>
        <canvas width="640" height="480"></canvas>
        <div>
            <form action="" method="post">
                {% csrf_token %}
                <button type="submit" id="btn">Enter</button>
                <input type="text" name="imageData" id="imageData" hidden>
            </form>
        </div>
    </div>
   
</div>
{% block js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/face_rating.js' %}"></script>

{% endblock js %}
{% endblock content %}