<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/signup.css' %}.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap"
      rel="stylesheet"
    />
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <title>VCB Digibank</title>
  </head>
  <body>
    <div class="login-container">
      <div class="logo">
        <img src="./logo-white.svg" alt="" />
      </div>
      <div class="main-logo">
        <img src="./banner.svg" alt="" />
      </div>
      <div class="title">
        <p>Xin kính chào quý khách</p>
      </div>
      <form action="" method="post">
        <div class="input-container">
          <input
            type="email"
            aria-describedby="emailHelp"
            placeholder="Tên đăng nhập "
          />
          <ion-icon
            name="information-circle-outline"
            class="info-icon"
          ></ion-icon>
        </div>
        <div class="input-container">
          <input
            type="email"
            class=""
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Email"
          />
          <ion-icon
            name="information-circle-outline"
            class="info-icon"
          ></ion-icon>
        </div>
        <div class="input-container">
          <input
            type="password"
            class=""
            name="password"
            id="password"
            placeholder="Mật khẩu"
            required
          />
          <ion-icon name="eye-off-outline" class="eye-off-icon"></ion-icon>
        </div>
        <div class="input-container">
          <input
            type="password"
            class=""
            name="password"
            id="password"
            placeholder="Nhập lại mật khẩu"
            required
          />
          <ion-icon name="eye-off-outline" class="eye-off-icon"></ion-icon>
        </div>
        <!-- <div class="input-container input-code-container">
          <input
            type="text"
            name="capcha"
            id="capcha"
            class="input-code"
            required
            placeholder="Mã Kiểm Tra"
          />
          <div class="gacha">
            <img src="./gacha.jpg" alt="" />
          </div>
          <ion-icon name="refresh-outline" class="reset-capcha-icon"></ion-icon>
        </div> -->
        <!-- <a href="" class="forgot-password">Đã có tài khoản?</a> -->
        <button class="btn-login" type="submit">Đăng ký</button>
      </form>
    </div>
  </body>
</html>
