{% extends 'face_rating_app/base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/face_recognition.css' %}">
<div id="video_feed">
    <img id="video-feed" src="{% url 'face_recognition_app:video_feed' %}" alt="Video Stream" style=" transform: scaleX(-1);">
</div>
<form action="{% url 'face_recognition_app:stop_webcam' %}" method="post">
    {% csrf_token %}
    <h1 id="recog-page">Recognition Page</h1>

    <button type="submit" id="stop-webcam">Stop</button>
</form>
<script src="{% static 'js/face_recognition.js' %}"></script>
{% endblock content %}
